__pycache__/
*.pyc
.venv/
.env
data/raw/*
data/processed/*
models/checkpoints/*
!data/raw/.gitkeep
!data/processed/.gitkeep
!models/checkpoints/.gitkeep
.chroma/
*.nc
*.h5
*.db
*.db-journal
rag/index.pkl
